@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<div id="gridContainer"></div>

@(
Html.DevExtreme().DataGrid<ProductInformation>()
    .ID("gridContainer")
    .AllowColumnReordering(true)
    .RowAlternationEnabled(true)
    .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto))
    .ShowBorders(true)
    .HoverStateEnabled(true)
    .Paging(paging => paging.PageSize(10))
    .Pager(pager =>
    {
        pager.Visible(true);
        pager.DisplayMode(GridPagerDisplayMode.Full);
        pager.ShowInfo(true);
        pager.ShowNavigationButtons(true);
    })
    .ShowBorders(true)
    .Editing(editing =>
    {
        editing.Mode(GridEditMode.Form);
        editing.UseIcons(true);
        editing.Texts(_ => _.AddRow("Add Product Information"));
        editing.RefreshMode(GridEditRefreshMode.Reshape);
        editing.AllowUpdating(true);
        editing.AllowDeleting(true);
        editing.AllowAdding(true);
    })

    .Toolbar(toolbar =>
    {
        toolbar.Items(items =>
        {
            items.Add()
                .Name("addRowButton")
                .ShowText(ToolbarItemShowTextMode.Always);
        });
    })

    .Columns(columns =>
    {
        columns.AddFor(_ => _.ProductId);

        columns.AddFor(_ => _.Name);
         
        columns.AddFor(_ => _.Description);

        columns.AddFor(_ => _.Price);

        columns.AddFor(_ => _.Quantity);
    })

    .DataSource(_ => _.Mvc()
        .Controller("Home")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Update")
        .DeleteAction("Delete")
        .Key("ProductId")
    )

    //.OnEditorPreparing("employeeAddressOnEditorPreparing")
)